body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  display: block;
  list-style: none;
  padding: 0;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  min-width: 300px;
}
.weather-today {
  padding: 0 0 0 15px;
}

.city-chosen {
  font-size: 30px;
  font-weight: 700;
  padding: 20px 0 0;
  line-height: 1;
  text-transform: capitalize;
}

.weather-emoji {
  width: 50px;
  vertical-align: text-bottom;
}

.temperature-today {
  font-size: 65px;
  font-weight: 500;
  line-height: 1;
}

.max-temp {
  font-weight: 700;
}

.temp-unit-space {
  font-size: 16px;
}
.celsius-unit,
.fahrenheit-unit {
  color: #2b80f0;
  font-size: 16px;
}

.celsius-unit:hover,
.fahrenheit-unit:hover {
  text-decoration: underline;
  color: #0055c4;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.weather-today-list,
.date-today,
.description-today {
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
}

.weather-next {
  font-size: 12px;
  text-align: center;
}

.weather-emoji-card {
  border: none;
  width: 40px;
  display: block;
  margin: 0 auto;
  border: 1px solid grey;
  padding: 3px;
  border-radius: 50%;
}

.open-source {
  font-size: small;
}
